
<ion-header>
    <ion-navbar color="light">
      <ion-title *ngIf="selectedList.length <= 0" style="font-weight:bolder">Select Contacts</ion-title>
      <ion-title *ngIf="selectedList.length > 0" style="font-weight:bolder">{{selectedList.length}} Contact(s) Selected</ion-title>
      <!-- <ion-buttons start>
        <button style="color:white" (click)="closeMe()" ion-button clear>Back</button>
      </ion-buttons> -->
      <ion-buttons end>
          <button (click)="done()" style="color:white" ion-button clear>Done</button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
          refershing
        </ion-refresher-content>
    </ion-refresher>

  <ion-searchbar
  
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)" [formControl]="searchBar"
  debounce="600"
  >
</ion-searchbar>
    
   <div   list *ngIf="!contacts || searching">
     <div no-lines no-detail ion-item>
      <ion-spinner  style="display:block;margin:auto" name="ios-small"></ion-spinner>
      <p text-center style="color:gray">Reading Contacts</p>
      </div>
    </div>

    <ion-list  *ngIf="contacts" >
        <ion-item  item-content (click)="toggle($event,$index)"  *ngFor="let person of items; let $index = index;">
          <!-- <ion-avatar item-start>
          </ion-avatar> -->
                
                <h4 style="font-weight:bold" ><span style="color:gainsboro">{{$index + 1}})&nbsp;</span>{{person.name.formatted}} </h4>
                <button  ion-button icon-only clear item-right >
                    <ion-icon  *ngIf="person.selected <= 0" color="light" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon  *ngIf="person.selected > 0" color="light" name="checkmark-circle"></ion-icon>
                    <!-- <ion-icon item-start *ngIf="person.cNtype === 'home'" color="gray" name="home"></ion-icon>
                    <ion-icon item-start *ngIf="person.cNtype === 'work'" color="gray" name="beaker"></ion-icon>
                    <ion-icon item-start *ngIf="person.cNtype === 'mobile'" color="gray" name="phone-portrait"></ion-icon>
                    <ion-icon item-start *ngIf="person.cNtype !== 'home' && person.cNtype !== 'mobile' && person.cNtype !== 'work'" color="gray" name="card"></ion-icon> -->
                  </button>
                

            
                <div  list *ngIf="(expandingList === $index) && person.contactNumber" >
                 
                    <button   ion-item no-lines detail-none >
                      {{person.contactNumber}}  
                      <ion-icon item-start *ngIf="person.cNtype === 'home'" color="gray" name="home"></ion-icon>
                      <ion-icon item-start *ngIf="person.cNtype === 'work'" color="gray" name="beaker"></ion-icon>
                      <ion-icon item-start *ngIf="person.cNtype === 'mobile'" color="gray" name="phone-portrait"></ion-icon>
                      <ion-icon item-start *ngIf="person.cNtype !== 'home' && person.cNtype !== 'mobile' && person.cNtype !== 'work'" color="gray" name="card"></ion-icon>
                    </button>
                  
                </div>

                <div list *ngIf="(expandingList === $index) && (!person.phoneNumbers )">
                  <p list-item> no numbers</p>
                </div>
                
              
                <div  list *ngIf="(expandingList === $index) && person.phoneNumbers" >
                 
                  <button (tap)="toggleNumber($idx)" *ngFor="let p of person.phoneNumbers; let $idx = index"  ion-item no-lines detail-none >
                    {{p.value}}  
                    <ion-icon item-start *ngIf="p.type === 'home'" color="gray" name="home"></ion-icon>
                    <ion-icon item-start *ngIf="p.type === 'work'" color="gray" name="beaker"></ion-icon>
                    <ion-icon item-start *ngIf="p.type === 'mobile'" color="gray" name="phone-portrait"></ion-icon>
                    <ion-icon item-start *ngIf="p.type !== 'home' && p.type !== 'mobile' && p.type !== 'work'" color="gray" name="card"></ion-icon>
                    <ion-icon item-end *ngIf="p.selected" color="secondary" name="checkmark-circle"></ion-icon>
                    <ion-icon item-end *ngIf="!p.selected" color="secondary" name="checkmark-circle-outline"></ion-icon>
                  </button>
                
              </div>
            
            
        </ion-item>

        <ion-item *ngIf="(!items || items.length <= 0) && !searching">
              <h4>contacts not found</h4>
        </ion-item>
      
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content
      loadingSpinner="ios-small"
      loadingText="loading..">
    </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>