<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>groups</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-toolbar style="position:fixed">
        <ion-buttons start>
          <button (click)="showCreateGroup()" ion-button item-end>Create Group</button>
        </ion-buttons>
      </ion-toolbar>
    <ion-list >
        <ion-list-header>
            All Groups
            <button *ngIf="groups" clear item-end color="gray">
                {{groups.length}} groups
            </button>
          </ion-list-header>
        <ion-grid *ngIf="!groups || groups.length <= 0">
            <ion-row>
              <ion-col  col-6 offset-3>
                 
                      <div no-lines no-detail ion-item>
                       <p text-center style="color:gray">No groups yet.</p>
                       <button full round color="secondary" (click)="showCreateGroup()" ion-button>Add group&nbsp;<ion-icon name="add-circle" ></ion-icon></button>
                       </div>
                    
              </ion-col>
            </ion-row>
          </ion-grid>
    
        <ion-item-sliding *ngFor="let group of groups; let idx = index;">
            <ion-item (click)="showConverstaionDetails(idx)">
              <ion-avatar item-start>
                <img src="https://raw.githubusercontent.com/ionic-team/ionic-preview-app/master/src/assets/img/venkman.jpg">
              </ion-avatar>
              <h2>{{group.name}}</h2>
              <h3><span style="font-weight:bold">{{group.contacts.length}}</span> Contacts </h3>
            </ion-item>
  
  
            <ion-item-options>
              <button (click)="removeGroup(idx)" ion-button color="danger" icon-start>
                <ion-icon name="close"></ion-icon>
                Remove
              </button>
            </ion-item-options>
          </ion-item-sliding>
    
      </ion-list>
</ion-content>
