<!-- Generated template for the GroupSelectionComponent component -->
<ion-header>
    <ion-navbar>
      <ion-title style="font-weight:bolder">Select Group</ion-title>
       <ion-buttons start>
        <button style="color: white" (click)="closeMe()" ion-button clear>Cancel</button>
      </ion-buttons>

      <!--
      <ion-buttons end>
          <button (click)="sendSms()" style="color:white" ion-button clear>Send</button>
        </ion-buttons> -->
    </ion-navbar>
  </ion-header>

  <ion-content>

      <ion-grid *ngIf="!groups || groups.length <= 0">
          <ion-row>
            <ion-col  col-6 offset-3>
               
                    <div no-lines no-detail ion-item>
                     <p text-center style="color:gray">No groups yet.</p>
                     <button full round color="secondary" (click)="showCreateGroup()" ion-button>Add group&nbsp;<ion-icon name="add-circle" ></ion-icon></button>
                     </div>
                  
            </ion-col>
          </ion-row>
        </ion-grid>

    <ion-list>
      <!-- <ion-item > -->
          <button  ion-item detail-none  (click)="selectGroup($index)" *ngFor="let group of groups; let $index = index;">
            <ion-icon color="secondary" item-start name="checkmark-circle-outline">
            </ion-icon>{{group.name}}
          </button>
      <!-- </ion-item> -->
    </ion-list>
  </ion-content>
